@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body,
html {
  height: 100%;
  background-image: linear-gradient(#a1c4fd 0%, #c2e9fb 100%);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Press Start 2P", cursive;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  grid-gap: 2rem;
  perspective: 800px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.855, 0.32, 1.275);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  transform: rotateY(0deg);
  border-radius: 30px;
}


.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  border-radius: 30px;
}

.back {
  background-image: url("./photos/question-mark.png");
  background-size: 85%;
  background-color: white;
  backface-visibility: hidden;
  border-radius: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.toggleCard {
  transform: rotateY(180deg);
}

.statusBar {
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 608px;
  padding: 1.5%;
  margin-bottom: 15px;
  font-weight: 400;
  border-radius: 10px;
  gap: 20px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
    radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
  font-size: 15px;
}

.timerDisplay {
  background-color: #4f6584;
  color: #fff;
  font-family: "Roboto mono", monospace;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 5px;
}

.movesCountDisplay {
  background-color: #fff;
  color: #5d779a;
  padding: 10px 5px;
  gap: 10px;
  border-radius: 4px;
  
}
.left {
  display: flex;
  gap: 20px;
}

.right {
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: center;
}

.highScore > h4 {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  color: #FFD15B;
}
.highScore > span { 
  color: white;
}
